
/* ----------- Variables ----------- */

:root {
  --black: #000;
  --white: #fff;
  --accent: #47DFF5;
  --grey: #efefef;
  --shadow: #ccc;
}



/* ----------- Page Structure ----------- */

body {
	display: flex;
	margin: 0;
}

main {
	display: flex;
	flex-wrap: wrap;
	width: 75%;
}

section {
	position: relative;
	width: 100%;
	padding: 3rem 12.5%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}




/* ----------- Elements ----------- */

html {
	color: var(--black);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	letter-spacing: 0.06rem;
}

p {
	font-size: 1rem;
	font-weight:  300;
	line-height: 1.6;
	letter-spacing: 0.02rem;
}

a {
	color: var(--accent);
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	transition: 100ms all ease-in-out;
}

ul {
	padding-left: 1.1rem;
}

ul li {
	margin-bottom: 0.6rem;
}

img {
	width: 100%;
	max-width:  100%;
	margin: 1.5rem 0;
	border-radius: 0.3rem;
}

img.full-mockup {
	width: 70%;
	margin-right: 15%;
	margin-left: 15%;
}

img.full-logo {
	width: 100%;
}

img.extra-space {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

iframe {
	width: 100%;
}

.youtube {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	margin: 4rem 0;
}

.youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.shadow {
	box-shadow: 0 2px 6px var(--shadow);
}

.underline {
	padding-bottom: 0.5rem;
	border-bottom: 1px solid var(--black);
}





/* ----------- Header ----------- */

header {
	position: sticky;
	top: 0;
	border-right:  1px solid var(--black);
	width: 25%;
	max-width: 27rem;
	height: 100vh;
	padding: 3rem 3%;
	background: var(--white);
	z-index: 9999;
}

header h1 {
	font-size: 1.5rem;
	margin-bottom: 0;
}

header h1 a {
	color: var(--black);
}

header h1 a:hover {
	color: var(--accent);
}

header h4 {
	margin-top: 0.5rem;
}

header nav {
	position: absolute;
	bottom: 3rem;
	list-style: none;
}

header nav a {
	display: block;
	margin-bottom: 1rem;
	color: var(--black);
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 0.06rem;
}

header nav a:first-child {
	border-bottom: 1px solid var(--black);
	padding-bottom: 1.05rem;
	margin-bottom: 1.25rem;
}

header nav a:hover {
	color: var(--accent);
}




/* ----------- Mobile Menu ----------- */

#menu-toggle {
  display: none;
}

.menu-button-container {
  display: none;
  position: absolute;
  top: 2.1rem;
  right: 2rem;
}

.menu-button {
	font-size: 2rem;
	cursor: pointer;
}

.menu-button:hover {
	color: var(--accent);
}




/* ----------- Intro ----------- */

#intro .icon {
	position: absolute;
	bottom: 10vh;
	left: 0;
	right: 0;
	font-size: 2rem;
	text-align: center;
	transform: rotate(180deg);
}

#intro .icon a {
	font-weight: inherit;
	color: var(--black);
}

#intro .icon a:hover {
	color: var(--accent);
}





/* ----------- Projects ----------- */

#projects .project {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 3rem;
}

#projects .preview {
	width: 20%;
	padding-top: 20%;
	margin-right: 5%;
	background: var(--grey);
}

#projects .content {
	/*width: 70%;*/
}

#projects h4 {
	margin: 0;
}

#projects h4 a {
	color: var(--black);
}

#projects h4 a:hover {
	color: var(--accent);
}

#projects p {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}



/* ----------- Project (Single) ----------- */

#project-single {
	padding-bottom: 10rem;
}

#project-single p + h3,
#project-single img + h3,
#project-single .grid + h3 {
	margin-top: 5rem;
}


/* ----------- Grid ----------- */

.grid {
	width: 100%;
	margin: 3rem 0;
	display: flex;
	flex-wrap: wrap;
	gap: 5%;
}

.grid .preview {
	width: 30%;
	padding-top: 30%;
	margin-bottom: 2.5rem;
	background: var(--grey);
}

.grid img {
	max-width: 47%;
	margin: 0;
}

.grid img.logo {
	max-width: 30%;
	margin: 0;
}




/* ----------- Responsive ----------- */

@media (max-width: 780px) {

	/* ----------- Page Structure ----------- */
	body {
		flex-wrap: wrap;
	}

	main {
		width:  100%;
	}

	section {
		min-height: 80vh;
		padding: 3rem 5%;
	}


	/* ----------- Elements ----------- */
	img.full-mockup {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}


	/* ----------- Header ----------- */
	header {
		width:  100%;
		max-width: 100%;
		height: auto;
		padding: 1rem 5%;
		border-right: none;
		border-bottom: 1px solid var(--black);
	}

	header nav {
		display:  none;
		position: relative;
		bottom: 0;
		margin-top: 3rem;
	}

	header nav a:first-child {
		padding-bottom: 0;
		margin-bottom: 1rem;
		border: none;
	}


	/* ----------- Intro ----------- */
	#intro .icon {
		bottom: 2vh;
	}


	/* ----------- Header ----------- */
	#projects .preview {
		width: 100%;
		margin-bottom: 1rem;
		padding-top: 30%;
	}

	#projects .content {
		width: 100%;
	}

	/* ----------- Mobile Menu ----------- */
	.menu-button-container {
		display: block;
	}

	#menu-toggle:checked ~ nav {
		display: block;
	}
}